@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&family=Roboto+Slab:wght@700&family=Share+Tech+Mono&display=swap');

.sentence-message {
    color: #C4C4C4;
}

#chat-form {
    width: 100%;
    text-align: center;
    padding: 15px;
}

#chat-form input {
    border-style: solid;
    border-width: 1px;
    padding: 10px;
    width: 90%;
    max-width: 600px;
    text-align: center;
}

#chat-form button {
    width: 100px;
}

#messages {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow-y: scroll;
}

#messages li {
    padding: 5px 10px;
}

#messages li {
    border-bottom: solid 2px #4e4d4b;
}

.username {
    background-color: #f8993b;
    color: #222;
    padding-left: 2px;
    padding-right: 2px;
}

.game-info {
    color: #D54940;
}

.game-message strong {
    color: #f02a77;
}

.target-sentence {
    background-color: #D54940;
    color: #111;
}

#username-modal {
    background-color: #222;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#username-modal form input {
    width: 160px;
}

#chat-form.error input {
    color: crimson;
    outline: solid 1px crimson;
}

/* hack to remove spacing between spans*/
#word-matching-area {
    padding: 50px;
    font-size: 0; 
    max-width: 800px;
}
#sentence-in-progress, #sentence-remaining {
    font-size: 24px;
    position: relative;
}

#sentence-remaining {
    color: whitesmoke;
}

#sentence-in-progress {
    color: #fab529;
}

span#sentence-in-progress:after {
    content: "|";
    color: #fab529;
    position: absolute;
    right: -7px;
}

span#sentence-in-progress.error,
span#sentence-in-progress.error:after {
  color: crimson;
}

.score {
    color:gold;
}

#game-status {
  background-color: rgba(50,50,50,0.5);
  position: relative;
}

#racing-table {
  margin-top: 10px;
}

.player-row {
    position: relative;
    display: block;
    width: calc(100% - 40px);
    height: 50px;
    border-bottom: solid 1px #f02a77;
    text-align: center;
    left: 20px;
}

.player-data {
  float: left;
  font-size: 15px;
}

.player-row .avatar-track {
    position: absolute;
    top: 10px;
    width: calc(100% - 26px);
    height: 26px;
}

.player-row icon {
    position: absolute;
    transform: scaleX(-1); /* flip. since most emojis face left and we want it to face right */
    left: 0px;
    width: 26px;
    height: 26px;
}

#match-completed-screen {
    text-align: center;
    padding: 10px;
}

#server-message {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-color: gold;
    color: black;
    transition: all 0.3s;
}

#lobby {
  text-align: center;
  margin: 20px;
}