@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&family=Roboto+Slab:wght@700&family=Share+Tech+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0;
}

body {
    background-color: black;
    color: #2BD2AA;
    font-size: 30px;
    font-family: 'Courier Prime', monospace;
}

body, 
button, 
input {
    font-family: 'Courier Prime', monospace;
}

button {
    cursor: pointer;
}

button, input {
    border: solid 3px;
}

header {
    position: static;
    top: 0;
    left: 0;
    padding: 10px;
    text-align: center;
    font-size: 16px;
    background-color: black;
    color: #37E6CA;
    border-bottom: solid 4px #37E6CA;
    font-family: 'Courier Prime', monospace;
}
header h1 {
    font-family: Courgette, sans-serif;
    font-size: 40px;
    margin-bottom: 10px;
}


.wrapper {
    min-height: 100%;
    margin-bottom: -50px;
}

footer,
.footer-pusher {
    height: 50px;
    padding: 20px;
    font-size: small;
    text-align: center;
}

h1 {
    font-size: 40px;
}
h2 {
    font-size: 35px;
}
h3 {
    font-size: 30px;
}

input {
    font-size: 30px;
    outline: solid 1px #2BD2AA;
    background: black;
    color: #37E6CA;
}

.sentence-message {
    color: #C4C4C4;
}

#chat-form {
    width: 100%;
    text-align: center;
    padding: 15px;
}

#chat-form input {
    border-style: solid;
    border-width: 1px;
    padding: 10px;
    width: 90%;
    max-width: 600px;
    text-align: center;
}

button {
    background: #37E6CA;
    color: black;
    border: none;
    padding: 10px;
    margin: 0 5px;
    font-size: 30px;
}

#chat-form button {
    width: 100px;
}

#messages {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow-y: scroll;
}

#messages li {
    padding: 5px 10px;
}

#messages li {
    border-bottom: solid 2px #4e4d4b;
}

.username {
    background-color: #37E6CA;
    color: #222;
    padding-left: 2px;
    padding-right: 2px;
}

.game-info {
    color: #D54940;
}

.game-message strong {
    color: #2BD2AA;
}

.target-sentence {
    background-color: #D54940;
    color: #111;
}

#username-modal {
    background-color: #222;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#username-modal form input {
    width: 160px;
}

#chat-form.error input {
    color: crimson;
    outline: solid 1px crimson;
}

/* hack to remove spacing between spans*/
#word-matching-area {
    padding: 50px;
    font-size: 0; 
}
#sentence-in-progress, #sentence-remaining {
    font-size: 24px;
    position: relative;
}

#sentence-remaining {
    color: whitesmoke;
}

#sentence-in-progress {
    color: lime;
}

span#sentence-in-progress:after {
    content: "|";
    color: lime;
    position: absolute;
    right: -7px;
}

.score {
    color:gold;
}

#racing-wrap {
    width: 100%;
    text-align: right;
    border: solid 1px red;
    position: relative;
}

#racing-table .player-row {
    display: block;
    width: 100%;
    height: 50px;
    border: solid 1px #ccc;
    text-align: center;
    direction: rtl;
}
.player-row .avatar-row {
    position: relative;
    width: calc(100% - 26px);
    height: 26px;
    direction: rtl;
}
.player-row icon {
    position: absolute;
    left: 0px;
    width: 26px;
    height: 26px;
}

#match-completed-screen {
    text-align: center;
    padding: 10px;
}

main {
    position: relative;
}

#server-message {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    background-color: gold;
    color: black;
}