@import url("https://fonts.googleapis.com/css2?family=VT323&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Carter+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    color: #2BD2AA;
    font-size: 30px;
    /* font-family: 'VT323', monospace; */
}

body, 
button, 
input {
    font-family: monospace;
    /* font-family: 'VT323', monospace; */
}

header {
    position: static;
    top: 0;
    left: 0;
    padding: 10px;
    text-align: center;
    font-family: 'VT323', monospace;
    font-size: 16px;
    background-color: black;
    color: #37E6CA;
    border-bottom: solid 4px #37E6CA;
}
header h1 {
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    font-size: 40px;
    color: #FC574D;
}

input {
    font-size: 30px;
    outline: solid 1px #2BD2AA;
    background: black;
    color: #37E6CA;
}

.sentence-message {
    color: #C4C4C4;
}

#chat-form {
    width: 100%;
    position: fixed;
    bottom: 0;
    display: flex;
    padding: 5px;
    background: #231c2d;
}

#chat-form input {
    border-style: solid;
    border-width: 1px;
    padding: 10px;
    width: 85%;
}

button {
    background: #37E6CA;
    color: black;
    border: none;
    padding: 10px;
    margin: 0 5px;
    font-size: 30px;
}

#chat-form button {
    width: 100px;
}

#messages {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow-y: scroll;
}

#messages li {
    padding: 5px 10px;
}

#messages li {
    border-bottom: solid 2px #4e4d4b;
}

.username {
    background-color: #37E6CA;
    color: #222;
    padding-left: 2px;
    padding-right: 2px;
}

.game-info {
    color: #D54940;
}

.game-message strong {
    color: #2BD2AA;
}

.target-sentence {
    background-color: #D54940;
    color: #111;
}

#username-modal {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: #222;
    color: #D54940;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 99;
    position: absolute;
    top: 0;
    left: 0;
}

#username-modal form input {
    width: 160px;
}